app==0.0.1
cachelib==0.6.0
click==8.0.3
Flask==2.0.2
Flask-Session==0.4.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.2.0
MarkupSafe==2.0.1
nltk==3.6.7
numpy==1.22.1
regex==2022.1.18
scikit-learn==1.0.2
scipy==1.7.3
threadpoolctl==3.0.0
tqdm==4.62.3
Werkzeug==2.0.2
